@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
html , body
{
	width: 100%;
	height: 100vh ;
	min-height: 100vh !important;
	padding: 0;
	margin: 0;
}
#principale
{
	width: 100%;
	height: 100%;
	min-height: 100vh !important;
	padding: 0%;
	margin: 0%;
	z-index: 99;
}
.divmap{
	height: calc(100% - 50px) !important;
	width: 100%;
	margin:auto;
	padding: auto;
	position: absolute;
	z-index: 99;
	bottom: 0%;
}




.alert
{	
	padding:12px;
	border-radius: 5px;
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid darken(#FFBABA, 15%);

	width: auto;
	height: auto;
	position: fixed;
	z-index: 4000;
	top: 52px;
	right: 2px; 
}

.alert:before {
	padding-right: 5px;
}
  .alert:after {
	content: '\f00d';
	font-family: 'FontAwesome';
	float: right;
	margin-left: 12px;
	padding-left: 0px;
  }

  .locatme
  {
	  width: 50px;
	  height: 50px;
	  background-color: transparent;
	  z-index: 4000;
	  position: absolute;
	  right: 10px;
	  bottom: 25px;
  }


  .locatme > img ,  #satellite > img
  {
	  width: 50px;
	  height: 50px;
	  z-index: 4000;
  }

  .locatme:hover
  {
	width: 52px;
	height: 52px;
  }

  #satellite
  {
	width: 50px;
	height: 50px;
	color: black;
	background: transparent;
	position: absolute;
	z-index: 4000;
	right: 70px;
	bottom: 25px;
	padding: 5px;
  }

  #option
  {
	  width: 200px;
	  height: 100px;
	  position: absolute;
	  z-index: 1000;
	  left: 10px;
	  top: 332px;
	  background-color: rgba(253, 247, 247);
	  align-items: center;
	  border: 2px solid  rgba(128, 128, 128, 0.438);
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
	  border-top-right-radius: 10px;
  }

  #selectedTarget
  {
	  width: auto;
	  height: auto;
	  text-align: center;
	  margin-left: 5%;
	  padding: 3px;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /*#selectedTarget:after {
	content: '\f00d';
	font-family: 'FontAwesome';
	float: right;
	color: #D8000C;
	margin-left: 12px;
	padding-left: 0px;
  }*/

  #live_history{
	  width: 70%;
	  height: auto;
  }

  #live_history > p > i{
	margin-top:0px;	
	outline: black;
	float: left;
}

#live_history > p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-left: 6px;	
}

#live_history > p > strong{
	padding-left: 8px;
}

*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#show_more{
	border-radius: 2px;
	width: 33px;
	position: absolute;
	z-index: 999;
	left: 10px;
	top: 340px;
	padding: 5px;
	background-color: white;
	border: 2px solid  rgba(0, 0, 0, 0.11);
	box-shadow: none;
}

#show_more:focus
{
	outline: none;
}

#definePeriode{
	width: auto;
	position: absolute;
	left: 10px;
	top: 332px;
	border: 2px solid red;
	z-index: 1000;
	border: 2px solid  rgba(128, 128, 128, 0.596);
	background-color: white;
	padding: 3px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#du , #au
{
	border-radius: 4px;
	border: 1px solid black;
}

#du:focus , #au:focus{
		outline: none;
}

#p_du
{
	padding-top: 5px;
}

#du > option, #au > option
{
	border-radius: 10px;
	border: 1px solid black;
}

#close_periode::after
{
	content: '\f00d';
	font-size: 120%;
	font-family: 'FontAwesome';
	right: 4px;
	top: -4px;
	padding: 0;
	color: black;
	position: absolute;
}